<div class="card">
    <div class="card-header mb-0 pb-0">
        <div>simple header</div>
    </div>
    <div class="card-body">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col">
                    <h5>Simpel </h5>
                </div>
            </div>
        </div>
    </div>
</div>